<!-- The custom widget template is defined here
   - You can use standard HTML tags and AngularJS built-in directives, scope and interpolation system
   - Custom widget properties defined on the right can be used as variables in a templates with properties.newProperty
   - Functions exposed in the controller can be used with ctrl.newFunction()
 -->
 <div ng-class="{
     'form-horizontal': properties.labelPosition === 'left' && !properties.labelHidden,
     'row': properties.labelPosition === 'top' && !properties.labelHidden || properties.labelHidden
     }">
     <div class="form-group">
         <label
             ng-if="!properties.labelHidden"
             ng-class="{ 'control-label--required': properties.required }"
             class="control-label col-xs-{{ !properties.labelHidden && properties.labelPosition === 'left' ? properties.labelWidth : 12 }}">
             {{ properties.label | uiTranslate }}
         </label>
     <div class="col-xs-{{ 12 - (!properties.labelHidden && properties.labelPosition === 'left' ? properties.labelWidth : 0) }}">
       <div map-lazy-load="https://maps.google.com/maps/api/js"
     map-lazy-load-params="{{ctrl.googleMapsUrl}}" >
     <ng-map default-style="true" center="40.7831,-73.9712" zoom="{{properties.maximumZoom}}" maximum-zoom="{{properties.maximumZoom}}" zoom-to-include-markers="true">

       <info-window id="info">
         <div ng-non-bindable="">
           {{ctrl.store.item}}
         </div>
       </info-window>

       <marker ng-repeat="(id, store) in properties.places" id="{{id}}"
         position="{{store.position}}"
         on-click="ctrl.showStore(event, id)"></marker>
     </ng-map>
   </div>
    </div>
  </div>
</div>
